[2017-05-03 15:29] io41 opened #1 "Freshdesk/v1/your_first_backend_app does not run"
I just did a fresh clone of this repo and tried to run `your_first_backend_app` using the `frsh run` command. It fails with the following error:

[code]

The `my_first_app` app runs just fine.

I am running on macOS 10.12.4. `frsh info` report below:

[code]

[2017-05-04 06:02] maheshstms commented on #1
Hi Tim,
Thanks for pointing out, we will correct the missing './backend/lib' folder.

as a work around, create the lib folder and continue 'frsh run'
$ mkdir ./backend/lib

Thanks
Mahesh

[2017-05-04 11:22] rohitfreshdesk commented on #1
Thanks for pointing out the issue, the missing folder has now been added.

[2017-05-04 11:22] #1 closed

[2017-05-30 11:00] michel3vb opened #2 "Mixed Content error at simple_request_app"
Hi,

I'm trying to run the simple_request_app example code but I'm getting the following error:

`Mixed Content: The page at 'https://homewizard.freshdesk.com/helpdesk/tickets/1010' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://localhost:10001/dprouter'. This request has been blocked; the content must be served over HTTPS.`

The code is running on my local machin

[2017-05-30 11:02] michel3vb commented on #2
Ooops found it: https://support.freshdesk.com/support/discussions/topics/314867
Never mind ;)

[2017-05-30 11:02] #2 closed

[2017-10-13 20:15] plachuma opened #3 "Access token not available in app.js post OAuth"
I've set up OAuth with FB, the authorization flow works well and I'm able to find the access token in .frsh/localstore file.
Although I am unable to get the value in my app.js when making an external request.

![screenshot from 2017-10-14 01-46-02](https://user-images.githubusercontent.com/28986446/31564645-4ebdcb30-b081-11e7-8667-28d1225b0236.png)

[2017-10-15 04:08] raghu12133 commented on #3
@plachuma Is it possible to share the whole piece of code, which will help us in figuring out the issue. And also is the request made via $request?

[2017-10-15 10:41] plachuma commented on #3
@raghu12133 Thanks for attending this.

[2017-10-16 07:45] raghuram-periaswamy commented on #3
@plachuma  I see two places where you are using access_token. As part of the header and in the URL. I hope the substitution of the access token in the URL fails, as it's not in the template format (<%= %>).

Following is the correct way of representing it.

[code]

[2017-10-16 07:59] plachuma commented on #3
@raghuram-periaswamy The usage in the header also failed (check screenshot in description). And also when we use it in the URL like you mentioned.

This is the error we're getting -

[code]

[2017-11-28 09:00] nithin-raj commented on #3
Any solution to this, am also facing the same issue.

[2017-11-28 09:10] raghu12133 commented on #3
@nithin-raj There is a chance of this occurrence if the oauth_config file is removed from the project or if the features list in manifest doesn't have 'oauth'.

[2017-11-28 09:12] nithin-raj commented on #3
@raghu12133 am working on mint UI, i hope there is no need to specify the features list in manifest. and oauth_config file is intact.

[2017-11-28 09:37] nithin-raj commented on #3
![image](https://user-images.githubusercontent.com/1798008/33312373-b118b3cc-d44d-11e7-851f-8cd016e3110d.png)
access token not showing while debugging, but the authorization works properly.

[2018-01-30 11:22] skhussainbasha opened #4 "underscore templates are not working in Autherization_Url"
To my freshdesk app, I am Using OAuth based authentication.
My third party API wants to send client_id along with autherization_url like "authorize_url": "https://login.teamviewer.com/oauth2/authorize?response_type=code&client_id=<%= oauth_iparams.client_id %>&redirect_uri=http%3A%2F%2Flocalhost%3A10001%2Fauth%2Fcallback"
but in freshdesk underscore template doesnot support in "authorize_url". and

[2018-01-30 11:29] raghu12133 commented on #4
It must work. We do support templating in authorize and token url. Do you get any error while testing?

[2018-01-30 11:39] skhussainbasha commented on #4
I don't get any error but when authorizing the app, it's not replaced
iparams.client_id template value so authorization_url does not recognize my
app in third party API which is associated with that client_id.

On Jan 30, 2018 16:59, "raghu" <notifications@github.com> wrote:

[2018-01-30 11:41] raghu12133 commented on #4
Are you using the latest version of the fdk?

[2018-01-30 11:45] skhussainbasha commented on #4
Yes, i tried in 4.1.5 and 4.1.7

[2018-01-30 11:50] raghu12133 commented on #4
Please ensure you have provided authorize_url as [https://login.teamviewer.com/oauth2/authorize](https://login.teamviewer.com/oauth2/authorize) and the token_url as [https://login.teamviewer.com/api/v1/oauth2/token](https://login.teamviewer.com/api/v1/oauth2/token) in oauth_config.json

[2018-01-30 11:53] skhussainbasha commented on #4
{
	"client_id": "<%= oauth_iparams.client_id %>",
	"client_secret": "<%= oauth_iparams.client_secret %>",
"authorize_url": "https://login.teamviewer.com/oauth2/authorize?response_type=code&client_id=<%= oauth_iparams.client_id %>&redirect_uri=http%3A%2F%2Flocalhost%3A10001%2Fauth%2Fcallback",
	"token_url": "https://webapi.teamviewer.com/api/v1/oauth2/token",
	"options": {},
	"token_type": "account

[2018-01-30 11:56] raghu12133 commented on #4
From the configuration that you have provided, it seems like you have used templating in client_id and client_secret which is not supported. Please replace it with actual client_id and client_secret values. The authorize and token URL must be changed to the ones that I have provided.

[2018-01-30 12:01] skhussainbasha commented on #4
first point: Then how it will work as dynamic OAuth authentication.You are suggesting me to hard code the client_id and client_secret.I confirmed with you one of your developers he said  "templating only works in client_id and client_secret".
second point: If I replace as suggested then what about the parameter that my API is expecting to have in autherize_url?

[2018-01-30 12:05] raghu12133 commented on #4
Regarding OAuth, the developer of the app must provide in the client_id and client_secret. The user who installs the app is not expected to provide these credentials.

The parameters that need to be passed through the authorize URI will be taken care by our OAuth authentication system. The parameters that you referred in the documentation is supposed to be provided if the OAuth flow is done manual

[2018-01-30 12:16] skhussainbasha commented on #4
Let me ask the last question.
I have given client_id and client_secret fields if any customer installed my app then how he will provide client_id and client_sercret of his app?

[2018-01-30 12:25] raghu12133 commented on #4
As i told, the client id and secret must be provided by the developer of the app and not by the user.

Client ID and secret stand to identify your app(that you have developed) uniquely. And must not be specific to user.

[2018-01-30 12:27] skhussainbasha commented on #4
ok thanks.

[2018-01-30 12:32] raghu12133 commented on #4
Hope it helped. Im closing the issue.

[2018-01-30 12:32] #4 closed

[2018-01-31 10:23] martinlazarov opened #5 "Cannot validate & pack serverless_request_app from examples"
Hello, Freshdesk team!

I receive an error when I try to Validate / Pack the Example serverless_request_app.

Steps to reproduce:

1. Clone the repository
2. Navigate to serverless_request_app  (No change is made in the Application's code)
3. Run in terminal fdk validate / fdk pack
4. Error is displayed:

Packing failed due to the following issue(s):
The following dependencies are not used: reques

[2018-02-14 09:36] satwikhebbar commented on #5
Hello Martin,

Thank you for reaching out. And sorry it took a while getting back to you here.

We do have a bug in our fdk tool with respect to running on Windows. A fix for the same will be published shortly, after which we will notify you.

Thank you for your patience meanwhile.

[2018-02-18 06:40] masterminduday commented on #5
Hello Freshdesk Team,

Even I am facing the same issue. Awaiting an update to the fdk tool.

[2018-02-20 07:15] masterminduday commented on #5
![fdk pack error_1](https://user-images.githubusercontent.com/593894/36411477-da9fcfe8-163b-11e8-95a7-fd82ae998687.png)

[2018-03-01 16:29] destinarian commented on #5
I am having the same issue.
Error: "The following dependencies are not used: request"

Any update how to resolve this? Any temporary fix whilst an update a fdk come?

[2018-03-02 07:00] masterminduday commented on #5
@dineshvgp Even after an update to fdk to 4.2.0 still the issue isn't resolved for validating a servless request app.

[2018-03-02 07:41] masterminduday commented on #5
@freshdesk

[2018-03-08 09:09] satwikhebbar commented on #5
Hello @masterminduday @destinarian @martinlazarov There is a new version of the FDK - 4.2.1 - which is now available. This addresses the problem described here.

Apologies for taking a long time to address this problem. We were not actively including Windows within our test environment for the FDK earlier. We now put in the effort ensure our test suites can run against Windows environments as well

[2018-03-08 09:09] #5 closed

[2018-04-27 06:49] skhussainbasha opened #6 "Access token geeting expired in Freshdesk and Freshservice"
Hi Raghu,

I am developing zoom app, which uses OAuth feature. access_token is getting expired when the app is idle for some time.

[2018-04-27 10:44] raghu12133 commented on #6
Zoom has an expiry time for access token as per their docs. And if expired, our Request API must refresh it on behalf. So, are you getting 401 from Request API as status?

[2018-04-27 10:48] skhussainbasha commented on #6
yes

[2018-04-30 11:57] raghu12133 commented on #6
Hey HussainBasha,

We tested zoom's API on our side and the refresh works smoothly when the access token is expired. So, in this case are you missing anything while making the request and do you have the access token in .fdk/localstore file?

[2018-04-30 12:02] skhussainbasha commented on #6
as zoom does not accept the local redirect URI, we are testing as the custom app only.

[2018-05-11 10:33] masterminduday opened #7 "Unexpected token T in JSON at position 0"
When I validate the code using frsh validate (SDK v1) command, I get the below error
Unexpected token T in JSON at position 0

[2018-05-13 06:49] masterminduday commented on #7
@vikramanvr Ok. Let me try updating the version from 3.0.0 to the said version (3.1.7)

[2018-05-13 08:54] masterminduday commented on #7
@vikramanvr It helped me resolve the issue. Thanks

[2019-02-13 09:32] #7 closed

[2019-08-07 08:47] hemchander23 commented on #6
Hope you were able to solve the issue. Closing the issue. Feel free to create an issue if required.

[2019-08-07 08:47] #6 closed

[2019-08-07 08:48] hemchander23 commented on #3
Hope you were able to solve the issue. Closing this one. Feel free to create an issue if it persists.

[2019-08-07 08:48] #3 closed

[2019-08-23 10:52] hemchander23 opened #38 "[Enhancement] - Add detailed description for Freshchat sample apps"
**Description of the enhancement:**
Currently, the README for sample apps at https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshchat is pointing to each sample app. It would be nice to have a short description for each of the sample app there itself.

**For which Freshworks product?**
- [ ] Freshdesk
- [x] Freshchat
- [ ] Freshsales
- [ ] Freshservice
- [ ] Freshcaller

[2019-10-03 07:24] hemchander23 opened #44 "Remove console.log statements"
**Description of the issue:**

The `console.log` statement at line 34 and 114 of app.js has to be removed.

https://github.com/freshdesk/marketplace-sample-apps/blob/master/Training/fundamentals/level2/app/app.js#L34

https://github.com/freshdesk/marketplace-sample-apps/blob/master/Training/fundamentals/level2/app/app.js#L114

**For which Freshworks product?**
- [x] Freshdesk
- [ ] Freshchat
- [ ]

[2019-10-03 07:26] sammiepls commented on #44
Hi can I work on this?

[2019-10-03 07:45] hemchander23 commented on #44
Hi @sammiepls, we have already received a PR from @adizz. However, we have more issues coming up. Stay tuned:)!

[2019-10-03 07:45] #44 closed

[2019-10-03 08:38] hemchander23 opened #46 "[Enhancement] - Add description and codelabs link in the README"
**Description:**
Link to codelabs is missing for the fundamental track apps. If you go to https://github.com/freshdesk/marketplace-sample-apps/tree/master/Training/fundamentals, it lists the apps for all three levels. However, it is missing the link to http://freshhuddle.github.io

**For which Freshworks product?**
- [x] Freshdesk
- [ ] Freshchat
- [ ] Freshsales
- [ ] Freshservice
- [ ] Freshcall

[2019-10-03 09:05] hemchander23 opened #47 "🎃README - Hacktoberfest Contributions are welcome 🎉"
Welcome to the Freshworks Sample Apps repository! On behalf of my team, I gladly welcome you to contribute to our repo. 👏🏻

Here's a quick checklist before you raise a PR

1. Please make sure you have registered for [Hacktoberfest](https://hacktoberfest.digitalocean.com) - so that you don't miss out on the goodies.

2. Please follow the [contribution guidelines](https://github.com/freshdesk/market

[2019-10-03 09:32] hemchander23 opened #49 "[Enhancement] - Convert ES6 code to ES5 in a sample app - app.js"
**Description of the enhancement:**
The code at https://github.com/freshdesk/marketplace-sample-apps/blob/master/Freshdesk/v2/your_first_app/app/app.js contains arrow functions that are not ES5 compliant

**For which Freshworks product?**
- [x] Freshdesk
- [ ] Freshchat
- [ ] Freshsales
- [ ] Freshservice
- [ ] Freshcaller

**Describe the solution you'd like**
The front-end code has to be ES5 comp

[2019-10-03 09:38] trojano31 commented on #49
I can take it

[2019-10-03 09:41] ravirajthedeveloper commented on #49
@trojano31 That would be great. Kindly, create a PR and link it to this issue.
Thanks in advance.

[2019-10-03 09:43] hemchander23 opened #50 "[Enhancement] - Remove unused file"
**Description of the enhancement:**
The `handle-response.js` in the `lib` directory is not used. We can remove it

https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshdesk/v2/your_first_serverless_app/server/

**For which Freshworks product?**
- [x] Freshdesk
- [ ] Freshchat
- [ ] Freshsales
- [ ] Freshservice
- [ ] Freshcaller

**Describe the solution you'd like**
Remove `handle

[2019-10-03 09:47] danielotieno commented on #50
@hemchander23  I can take this.

[2019-10-03 09:50] ravirajthedeveloper commented on #50
@danielotieno That's great. Kindly, give a PR and link it to this issue. Thanks for taking this up.

[2019-10-03 09:52] danielotieno commented on #50
@ravirajthedeveloper Awesome. I am working on it

[2019-10-03 10:37] hemchander23 opened #53 "[Enhancement] - Add a span tag to the html view"
**Description of the enhancement:**
Add a empty span tag with class `content` below https://github.com/freshdesk/marketplace-sample-apps/blob/master/Freshdesk/v2/your_first_app/app/template.html#L12

**For which Freshworks product?**
- [x] Freshdesk
- [ ] Freshchat
- [ ] Freshsales
- [ ] Freshservice
- [ ] Freshcaller

**Reason**
The controller logic tries to set the content for this tag that you

[2019-10-03 10:40] #50 closed

[2019-10-03 10:50] #49 closed

[2019-10-03 10:53] #53 closed

[2019-10-03 17:04] satwikhebbar opened #56 "[Feature Request] - Create a sample app to demonstrate the use of Request API to invoke Freshdesk REST APIs"
**Describe the sample app use-case :**
The existing sample app - https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshdesk/v2/simple_request_app - is a good way to learn how to use the Request API feature, but most app developers will end up trying to make Request API calls to Freshdesk. There should be a sample that focuses mainly on this very common use-case.

**For which produc

[2019-10-03 17:09] satwikhebbar opened #57 "[Feature Request] - Create the first meaningful Freshsales sample app"
**Describe the sample app use-case :**
Freshsales has a small quirk (currently) with respect to its Data APIs giving very little information (mainly just an ID) about the entity in question. This means an app must make a REST API to fetch additional details. Freshsales REST APIs are also ever so slightly different. A sample app that fetches details about the current Lead (the page where it loads)

[2019-10-05 04:50] Saif-Shines opened #58 "[Bug] - Improve the screenshot on Readme file"
**Describe the bug**
Every sample app is expected to have a screenshot of the app. Freshdesk/your_first_app has a readme.md file which displays [screenshot of an older version of the app](https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshdesk/v2/your_first_app) while code is updated.

Can you run the app and add correct screenshot?

**Noted in which product sample app**
- [x] F

[2019-10-05 10:06] Saif-Shines opened #60 "[Enhancement] - twilio sample app - code comments needed"
**Description of the enhancement:**
From last few weeks, we started working to add some code comments adhering to [JSDoc standards](https://devhints.io/jsdoc).

**Expectation**
 For example comments as in [this piece of code](https://github.com/freshdesk/marketplace-sample-apps/blob/master/Freshdesk/v2/advanced_data_storage_app/app/js/app.js).

**Current version**
[Twilio_sms sample app's code](ht

[2019-10-05 10:23] Saif-Shines opened #61 "[Enhancement] - Ticket Top Navigation's app.js to ES5"
**Describe**
Even though freshdesk apps run smoothly with ES6 javascript code, to ensure nothing breaks freshdesk recommends app's code to be ES5.

Would you be interested in converting ES6 code to ES5 on T[icket top navigation sample app code](https://github.com/freshdesk/marketplace-sample-apps/blob/master/Freshdesk/v2/ticket_top_navigation_app/app/app.js) ?

**Noted in which product sample app*

[2019-10-05 10:33] Saif-Shines opened #62 "[Enhancement] - Ticket top navigation app - code comments needed"
**Description of the enhancement:**
From last few weeks, we started working to add some code comments adhering to [JSDoc standards](https://devhints.io/jsdoc).

**Expectation**
 For example, comments as in [this piece of code](https://github.com/freshdesk/marketplace-sample-apps/blob/master/Freshdesk/v2/advanced_data_storage_app/app/js/app.js).

**Current version**
[Ticket Top navigation sample ap

[2019-10-05 11:05] Saif-Shines opened #63 "[Enhancement] - Sample CRM app - gifs / screenshots needed"
**Description of the enhancement:**
We try adding working gifs or screenshots if a app can be run. But we missed this time adding necessary to [Sample CRM App example](https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshdesk/v2/sample_crm_app).

Would you be interested to run the app and add the relevant gifs / screenshots by creating a screenshots folder in the directory?

**For

[2019-10-05 11:07] hemchander23 opened #64 "[Enhancement] - Convert ES6 to ES5 in the instance_api_app"
**Description of the enhancement:**
We need to convert ES6 code to ES5 in these two javascript files
https://github.com/freshdesk/marketplace-sample-apps/blob/master/Freshdesk/v2/instance_api_app/app/app.js

https://github.com/freshdesk/marketplace-sample-apps/blob/master/Freshdesk/v2/instance_api_app/app/modal.js

**For which Freshworks product?**
- [x] Freshdesk
- [ ] Freshchat
- [ ] Freshsales

[2019-10-05 11:33] Gil707 commented on #61
I'll take it

[2019-10-05 11:39] Akshay-911 commented on #64
I can go for this issue.

[2019-10-05 11:56] hemchander23 commented on #64
Hi @Akshay-911 ! We have a PR for this issue already. But hey, we have couple of other issues open!

[2019-10-05 12:38] Akshay-911 commented on #64
Alright, but I think using a web pack like babel will be a better option, In that case code will become scalable.

[2019-10-05 12:51] #64 closed

[2019-10-05 12:56] hemchander23 commented on #64
That's right @Akshay-911! The idea is to have simple ES5 compliant boilerplates to start with.

[2019-10-05 13:00] hemchander23 commented on #61
Thanks! #66 closes this

[2019-10-05 13:00] #61 closed

[2019-10-05 13:44] pragapraga commented on #63
@Saif-Shines I am interested in this but I am facing this error, could you help me in this?
![Screenshot 2019-10-05 at 7 11 51 PM](https://user-images.githubusercontent.com/6701828/66255692-50565a00-e7a4-11e9-943d-d5b42c03dd91.png)

[2019-10-05 16:29] hemchander23 commented on #63
Hi @pragapraga

Appreciate the efforts you put in 👏🏻🎉

Just a quick sanity check. Can you check if **config/iparam_test_data.json** is filled? This would be the test data config for the app. In this case, it corresponds to Freshsales CRM trial account credentials. You can find the detailed description of each field in the config descriptor/iparams file **config/iparams.json**

You can read more ab

[2019-10-05 16:43] #46 closed

[2019-10-05 16:59] #58 closed

[2019-10-05 17:31] ravirajthedeveloper opened #68 "[Enhancement] -github_issues_external_events_app (Training) - Add documentation links for each platform feature used in the readme file"
**Description of the enhancement:**
It's a request for a change in the readme file for an existing app.
In the readme file of the [GitHub Issues external events app](https://github.com/freshdesk/marketplace-sample-apps/tree/master/Training/github_issues_external_events_app), there is a list of platform features mentioned which have been used in the app. It would be nice to add links to these featu

[2019-10-05 17:46] ravirajthedeveloper opened #69 "[Enhancement] - advanced_data_storage_app (Freshdesk) - Add documentation links for each platform feature used in the app in the readme file"
**Description of the enhancement:**
It's a request for a change in the readme file for an existing app.
In the readme file of the [Advanced data storage app](https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshdesk/v2/advanced_data_storage_app), there is a list of platform features mentioned which have been used in the app. It would be nice to add links to these features listed w

[2019-10-05 17:50] ravirajthedeveloper opened #70 "[Enhancement] - asana_serverless_oauth_app (Freshdesk) - Add documentation links for each platform feature used in the app in the readme file"
**Description of the enhancement:**
It's a request for a change in the readme file for an existing app.
In the readme file of the [Asana serverless OAuth app](https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshdesk/v2/asana_serverless_oauth_app), there is a list of platform features mentioned which have been used in the app. It would be nice to add links to these features listed

[2019-10-05 17:52] thenewpyjiang commented on #69
Hello, I would like to give it a try :)

[2019-10-05 18:07] wukrit commented on #68
I'd like to take up this issue

[2019-10-05 18:13] hemchander23 commented on #68
That's amazing @wukrit ! Give it a try 🎉

[2019-10-05 18:14] hemchander23 commented on #68
That's amazing @wukrit! Please feel free to pick it up 🎉

[2019-10-05 18:14] hemchander23 commented on #69
@thenewpyjiang Welcome 🎉Feel free to give it a try! 🤩

[2019-10-05 18:26] thenewpyjiang commented on #69
Hi! I added the links [here](https://github.com/freshdesk/marketplace-sample-apps/pull/71), am I understanding it correctly?

[2019-10-06 06:13] ravirajthedeveloper commented on #69
@thenewpyjiang Hello, yes, it is correct.
Thanks for your contribution! Keep looking at this repo for more requests. 😄

Happy Hacktoberfest! 🎉

[2019-10-06 06:16] #69 closed

[2019-10-06 06:19] ravirajthedeveloper commented on #68
Hello @wukrit, Thanks for your contribution!
Keep looking at this repo for more requests. 😃

Happy Hacktoberfest! 🎉

[2019-10-06 06:19] #68 closed

[2019-10-06 18:13] ravirajthedeveloper opened #73 "[Enhancement] - external_events_app (Freshdesk) - Improve an existing sample app by using Request API of the platform"
**Description of the enhancement:**
In the [server.js](https://github.com/freshdesk/marketplace-sample-apps/blob/master/Freshdesk/v2/external_events_app/server/server.js) file of the [external events app](https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshdesk/v2/external_events_app), the [request NPM package](https://www.npmjs.com/package/request) has been used instead of the [

[2019-10-07 05:47] haridevelops commented on #73
hello @ravirajthedeveloper
can i take a look in to this ?

[2019-10-07 06:26] ravirajthedeveloper commented on #73
Hello @haridevelops,

Sure, you can try this. Thanks for coming forward to contribute to our repository.

Take a look into our [contribution guidelines](https://github.com/freshdesk/marketplace-sample-apps/blob/master/CONTRIBUTING.MD)
Our [documentation](https://developer.freshdesk.com/v2/docs/quick-start) is your dictionary. :) If you need any help, pls comment here.

[2019-10-09 12:55] hemchander23 opened #76 "An issue"

[2019-10-09 12:57] #76 closed

[2019-10-11 09:20] ravirajthedeveloper commented on #73
Your PR #74 looks good. Merged it. 👍

Thanks for your contribution. Keep looking at the issues on this repo. 😃

Happy Hacktoberfest! 🎉

[2019-10-11 12:34] ravirajthedeveloper commented on #70
@arockiaHelan-engg Thanks for your contribution! Keep looking at this repo for more requests. 😄

Happy Hacktoberfest! 🎉

[2019-10-11 12:34] #70 closed

[2019-10-14 06:17] sharath2106 commented on #60
@Saif-Shines I'd like to work on this.

[2019-10-14 06:18] sharath2106 commented on #38
@hemchander23 I'd like to work on this.

[2019-10-14 10:17] ravirajthedeveloper commented on #60
Hello @sharath2106,

Sure, you can try this. Thanks for coming forward to contribute to our repository.
If you need any help, please comment here.

[2019-10-14 10:18] ravirajthedeveloper commented on #38
Hello @sharath2106,

Sure, you can try this.
If you need any help, please comment here.

[2019-10-15 01:22] shonore commented on #62
I can work on this

[2019-10-15 01:53] hemchander23 commented on #62
Hi @shonore ! Thanks for showing interest ! ♥️ We have a PR for this issue already. However there are other issues still open. :)

[2019-10-18 01:40] #62 closed

[2019-10-18 07:49] moniksha-murthy commented on #57
Can I work on this?

[2019-10-18 08:52] shravan-balasubramanian commented on #56
I have taken this up. Will come up with a PR soon

[2019-10-18 08:56] ravirajthedeveloper commented on #57
Sure and thank you for your interest to contribute. 😃

[2019-10-18 08:57] ravirajthedeveloper commented on #56
@shravan-balasubramanian Thanks for your interest to contribute! 😃

[2019-10-18 12:19] Saif-Shines opened #90 "[Enhancement] - Add readme.md to fresdesk folder describing v1 vs v2"
**Description of the enhancement:**
Developers you open [Freshdesk](https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshdesk) folder don't know what is v1 and v2. We require a simple Readme.md file which tells the developers the differences and 2-4 point description.

**For which Freshworks product?**
- [x] Freshdesk
- [ ] Freshchat
- [ ] Freshsales
- [ ] Freshservice
- [ ] Fresh

[2019-10-18 12:26] Saif-Shines opened #91 "[Enhancement] - Onclick alerts app - Freshservice - JSDoc standards required"
**Description of the enhancement:**
The Freshservice app called [Onclick_alerts](https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshservice/onclick_alerts) is built over an year ago.

Can you Refactor it in a way that it has enough code comments? (Sample [commented code](https://github.com/freshdesk/marketplace-sample-apps/blob/master/Freshdesk/v2/advanced_data_storage_app/app/j

[2019-10-18 12:34] Saif-Shines opened #92 "[Bug] - Coverage folder accidentally added"
**Description of the enhancement:**
In the [show_ticket_and_associated_details sample app](https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshservice/show_ticket_and_associated_details), the coverage folder is accidentally added in the directory which is not needed in the scope of sample apps repo.

Will you be able to remove it?

**For which Freshworks product?**
- [ ] Freshdes

[2019-10-18 12:37] Saif-Shines opened #93 "[Enhancement] - Readme file needed"
**Description of the enhancement:**
The freshservice [github workflow actions app](https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshservice/github_workflow_actions) currently doesn't have a Readme.md file.

Would you be interested to learn about it and add a Readme.md file?

**For which Freshworks product?**
- [ ] Freshdesk
- [ ] Freshchat
- [ ] Freshsales
- [x] Freshservice
-

[2019-10-18 12:42] theparselmouth commented on #92
will take this up

[2019-10-18 13:02] moniksha-murthy commented on #57
https://github.com/freshdesk/marketplace-sample-apps/pull/89

[2019-10-18 15:54] HarisSpahija commented on #93
Hey Saif, I would love to pick up this issue! Can you give me an example of what you want the README to look like?

[2019-10-19 09:07] Saif-Shines commented on #93
Hi @HarisSpahija ,
Thank you for your participation interest.
Here are the things that we are looking for in a Readme.md file

- What are workflow actions and what problems will it solve
- Brief steps upon how they can build their own
- Read this [Blogpost](https://medium.com/freshworks-developer-blog/build-workflow-actions-to-extend-automations-in-freshworks-b7cbe8758c5b) to understand this bette

[2019-10-19 09:07] #92 closed

[2019-10-21 02:43] sharath2106 commented on #38
@ravirajthedeveloper I tried to run the application in my local and it looks like I've to configure using api tokens. Could you please guide me in getting the tokens?

<img width="415" alt="Screenshot 2019-10-21 at 8 13 32 AM" src="https://user-images.githubusercontent.com/25933070/67172884-b2d16c00-f3da-11e9-9f43-4166e08c4769.png">

[2019-10-21 05:10] satwikhebbar opened #97 "[Enhancement] - Enhanced README for FreshCaller Freshdesk-app"
**Description of the enhancement:**
The FreshCaller sample app (the only one currently) does not have a detailed README describing the use-case, what it teaches and screenshots - the usual standard content we expect in our READMEs.

**For which Freshworks product?**
- [ ] Freshdesk
- [ ] Freshchat
- [ ] Freshsales
- [ ] Freshservice
- [X] Freshcaller

**Describe the solution you'd like**
README sh

[2019-10-21 05:19] satwikhebbar opened #98 "[Enhancement] - v1 README should clearly call out this version is no longer supported"
**Description of the enhancement:**
The README should state in BOLD terms we do not support this version of the platform anymore. In addition, all READMEs of all sample apps in this folder must state the same.

**For which Freshworks product?**
- [X] Freshdesk
- [ ] Freshchat
- [ ] Freshsales
- [ ] Freshservice
- [ ] Freshcaller

**Describe the solution you'd like**
Same as described above.

[2019-10-21 05:22] satwikhebbar opened #99 "[Feature Request] - App demonstrating the use of OAuth Installation Parameters"
**Describe the sample app use-case :**
OAuth Installation Parameters is an advanced feature that can benefit from a sample app. There is a training app here that could be used as a baseline and built upon.
https://github.com/freshdesk/marketplace-sample-apps/tree/master/Training/shopify_oauth_app

**For which product ? :**
- [X] Freshdesk
- [ ] Freshchat
- [ ] Freshsales
- [ ] Freshservice
- [ ] F

[2019-10-21 05:41] EmadBinAbid commented on #98
I am working on this issue. Will be generating a PR soon.

[2019-10-21 06:15] nithin-nayagam commented on #91
@Saif-Shines I'd like to take this up. Will send a PR soon.

[2019-10-21 07:00] ravirajthedeveloper commented on #60
Hey @sharath2106,

Are you still working on it? If you need any help with it, let us know.

[2019-10-21 07:14] hemchander23 commented on #98
Thanks, @EmadBinAbid ! One of our maintainers will review this soon.

[2019-10-21 07:24] hemchander23 opened #103 "[Enhancement] - Individual sample app README format"
**Description of the enhancement:**
The idea is to have a consistent README for developers who land on sample apps repo. Would require suggestions from all. I have added the format in the issue below

**For which Freshworks product?**
- [x] Freshdesk
- [x] Freshchat
- [x] Freshsales
- [x] Freshservice
- [x] Freshcaller

[2019-10-21 07:25] hemchander23 commented on #103
# [Sample App Title]

### Description:

_[Description of the sample app]_

### Screenshots:

_[Screenshots that are not too big/small. Gifs are best. Let's just stick to 3 screenshots at the max]_

### Prerequisites:
1. Make sure you have a trial [FreshworksProduct] account created
2. Ensure that you have the Freshworks Developer Kit (FDK) installed properly.

_[From point 3, add some of the impor

[2019-10-21 10:20] prithvijit-dasgupta commented on #60
Hey @sharath2106, if you aren't working on this I would like to raise a PR for this issue.

[2019-10-21 11:02] sharath2106 commented on #60
@prithvijit-dasgupta I'm working on it.

@ravirajthedeveloper Was away for a while. You should be receiving a PR tonight. Apologies for the delay!

[2019-10-21 11:04] sharath2106 commented on #38
@ravirajthedeveloper Could you please help me with the above?

[2019-10-21 11:16] prithvijit-dasgupta opened #105 "[Bug] - Freshdesk Sample CRM App is unable to fetch data from Freshsales API"
**Describe the bug**
The sample_crm_app for Freshdesk fails due to the app using Basic Auth for Freshsales API. Fix is required to access the Freshsales APIs

**Noted in which product sample app**
- [x] Freshdesk
- [ ] Freshchat
- [ ] Freshsales
- [ ] Freshservice
- [ ] Freshcaller

**To Reproduce**
Steps to reproduce the behavior:
1. Do a 'fdk run' on the sample_crm_app with correctly configured

[2019-10-21 12:05] prithvijit-dasgupta commented on #105
#106 https://github.com/freshdesk/marketplace-sample-apps/pull/106

[2019-10-21 12:06] prithvijit-dasgupta commented on #105
#106

[2019-10-22 17:41] velmurugan-balasubramanian commented on #103
will this order make sense ?
1. Description
2. Prerequisites
3. Procedure to run the app with step by step screenshots/GIFS instead of having it in the beginning
4. GIF of working version of the app.

[2019-10-23 03:13] hemchander23 commented on #103
Would go with this order as well. Will also add
*features used in the app*  (data storage/ request / ..)

[2019-10-23 03:29] hemchander23 opened #108 "[Enhancement] - Remove coverage and .report.json"
**Description of the enhancement:**
The `coverage` folder and `.report.json` file has to be removed from the following apps

1. https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshservice/conditional_ticket_properties
2. https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshservice/onclick_alerts
3. https://github.com/freshdesk/marketplace-sample-apps/tree/master/

[2019-10-23 05:05] Saif-Shines commented on #103
@hemchander23
Can we add this template to Contribuiting guidelines as well ?

[2019-10-23 08:35] sharath2106 commented on #38
@ravirajthedeveloper Friendly reminder!

[2019-10-24 03:08] hemchander23 commented on #103
Yes Saif

[2019-10-24 10:35] hemchander23 commented on #105
Good catch! Fix tested and merged

[2019-10-24 10:35] #105 closed

[2019-10-24 10:58] #98 closed

[2019-10-24 11:03] hemchander23 commented on #93
Hi @HarisSpahija ! Thanks for showing interest 🙂Let me know if you are working on it

[2019-10-24 11:05] hemchander23 commented on #56
Thanks @shravan-balasubramanian for the PR. Happy hacktoberfest 🎃 !!

[2019-10-24 11:07] hemchander23 commented on #57
Thanks, @moniksha-murthy !! Happy Hacktoberfest 🎃

[2019-10-24 11:07] #57 closed

[2019-10-24 11:07] #56 closed

[2019-10-24 11:08] hemchander23 commented on #60
Thanks for the contributions @prithvijit-dasgupta @sharath2106 ! Happy Hacktoberfest 🎃 :) !

[2019-10-24 11:08] #60 closed

[2019-10-24 11:09] hemchander23 commented on #63
Hi @pragapraga ! Let me know if you are still working on this :)

[2019-10-24 11:11] hemchander23 commented on #91
Thanks for the contribution @nithin-nayagam ! Happy hacktoberfest 🎃 !

[2019-10-24 11:11] #91 closed

[2019-10-24 11:23] ravirajthedeveloper commented on #38
@sharath2106 A short description of the Freshchat apps can be found from the README of each app itself.
If you still would like to run the app, an account in MailChimp can be created with a free plan [here](https://login.mailchimp.com/signup/?plan=free_monthly_plan_v0) and the other details can be fetched from your account.
MailChimp [developer documentation](https://mailchimp.com/developer/guides

[2019-10-25 08:33] HarisSpahija commented on #93
I have not yet @hemchander23 , feel free to pick this issue up!

[2019-11-28 10:21] satwikhebbar opened #113 "[Bug] - Custom Installation page sample should use client.request, not ajax"
- [ ] Look out for the app called `custom_installation_page_app` and navigate to `iparams.html` in it.
- [ ] You will quickly find out it is using the Ajax to make API call. Did you? Yet?
- [ ] Figure out what product the app is for by looking at `manifest.json`
- [ ] Search for that Freshworks' product's documentation and search for `Request API`or `Request Method` and understand it's usage. Then

[2020-01-15 15:08] Saif-Shines commented on #103
Closing this issue as PR Issue template is created inspired by this work.

[2020-01-15 15:08] #103 closed

[2020-01-15 17:01] Saif-Shines opened #124 "[App Request] - Pomodoro App using Scheduled Events"
**Describe the sample app use-case :**
An app where user can turn pomodoro on. Focus for 25 min and break 5 min using Scheduled events and Interface API for notifications

**For which product ? :**
Freshservice

**Do you already have a sample app / PR ready? :**
No

**More details :**
1. App can be placed on any Agent facing app location. Feel free to chose the location that makes more sense to yo

[2020-01-21 14:38] #93 closed

[2020-01-21 14:38] #97 closed

[2020-01-21 14:38] #90 closed

[2020-01-21 14:39] #63 closed

[2020-01-21 14:39] #47 closed

[2020-01-21 14:40] #38 closed

[2020-01-21 15:59] Saif-Shines opened #125 "[App Request] - App to Appreciate FChat agent on resolving Conversation"
**Describe the sample app use-case :**
It would be an encouraging experience for Agents if FChat makes some encouraging statements whenever Agent resolves the conversation.

- _You did a great job! **Agent Name** ._

- _**Customer Name** is a happy customer now!_

- _You have exchanged **Number of Messages** Messages with this customer! Kudos!_

- Fee free to think more add your own. At Least 10 s

[2020-01-22 08:44] Saif-Shines opened #126 "[App Request] - App to get Public Persona of Customer Live"
**Describe the sample app use-case :**
FullContact's [Enrich API](https://dashboard.fullcontact.com/api-ref#person-enrichment) offers a lot of public profile details at Person level. This can help agent customize the conversation based on customers interests at Person level and not at Company level.

**Features to Demonstrate**
This app should demonstrate 3 Advanced Features of the Platform
- **Re

[2020-01-22 10:50] Saif-Shines opened #127 "[App Request] - Sync Airtable form submissions to Freshsales CRM"
**Describe the sample app use-case :**
Imagine you are an Business Event collecting form submissions from the attendees at the Stall. It's highly likely that you may want to collect these leads and follow up via a CRM. This app lets you sync all the submissions as leads on Freshsales CRM every few intervals.

**Features Demonstrated**
- Serverless Feature - Scheduled Events to stick with time inte

[2020-01-27 12:17] Saif-Shines opened #128 "[App Request] - Collect leads from Google Ads"
**Describe the sample app use-case :**
Webhook enables you to send lead form data to your CRM system in real-time. Freshworks Developer Platform enables you to create a webhook and capture lead data and store it in Freshsales CRM

![image](https://user-images.githubusercontent.com/17451294/73173737-1383e980-412c-11ea-8c69-2210efd9f48c.png)

**More details :**
Please use [External Events](https://d

[2020-01-29 05:09] Saif-Shines opened #130 "[App Request] - Serverless App to requesting a feedback email after 30 days of new Hire."
**Describe the sample app use-case :**
After a new Hire joins the team, HR might want to reiterate to the new Hire asking for a anonymous feedback. Create an app that will trigger a email with hardcoded anonymous google form link.

**More details :**
1. freshteam currently supports only serverless apps at the time of this writing.
2. On `OnNewHireCreate` product event, create a one time schedule i

[2020-03-12 08:16] #130 closed

[2020-03-30 04:16] Saif-Shines opened #147 "[Bug] - Misspelt"
**Describe the bug**
In the Freshservice Samples, see R[eadme file has Features](https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshworks-Samples/Freshservice/freshdesk_app_for_freshservice) mispelt.

[2020-03-30 04:18] Saif-Shines opened #148 "[Bug] - Zip file attached - Onclick Alerts"
**Describe the bug**
In this [sample app](https://github.com/freshdesk/marketplace-sample-apps/tree/master/Freshworks-Samples/Freshservice/onclick_alerts), there is `dist/` folder which is not needed.

[2020-03-30 04:21] Saif-Shines opened #149 "[Enhancement] - JS Doc commenting standards not followed"
_Maintainer's thoughts:_

This issue is ideally for pure beginners learning to make PRs and get familiar with open source contributions. Involve yourself to explore how apps on Freshworks developer platform run.

- [ ] Find sample code for `conditional ticket properties` app in the repository and tell us(in comments) if you were able to find it under 30s.
- [ ] (Optional) Add [summary in JSDoc com

[2020-04-07 12:34] #124 closed

[2020-05-19 19:58] WDOrahav opened #158 "[Bug] - ticket merger-loadDependency('needle');"
**Describe the bug**
receiving the following error when running the onTicketCreate event
server.js:836
var needle = (cov_21fw1getpg.s[0]++, loadDependency('needle'));
                                                       ^

ReferenceError: loadDependency is not defined
    at server.js:836:34
    at server.js:974:22
    at Script.runInContext (vm.js:133:20)
    at ProductEvent.sandboxExecutor (..

[2020-05-20 04:19] Saif-Shines commented on #158
Thank you for proactively reporting the bug, @WDOrahav . Please expect the some delay in our response for few more days as we are working towards the [Freshworks Upskills Program](https://www.freshworks.com/platform/freshworks-upskill-program/).

Meanwhile, I will follow your mentioned steps to reproduce the issue.

[2020-06-04 15:03] #147 closed

[2020-06-12 14:44] hi-manshu-kumar opened #164 "[Bug] - React sample app not working"
**Describe the bug**
Tried running the React demo app with `fdk pack`, it throws following error

[himank@himank-pc react_todo_app]$ fdk pack
Packing failed due to the following issue(s):
[ERROR] app/app.js::6: Parsing error: Unexpected token <

**Link to the bug'd Sample App**
[URL](https://github.com/freshdesk/marketplace-sample-apps/tree/master/Demo-Apps/react_todo_app)

**To Reproduce**
Steps

[2020-06-15 07:11] hi-manshu-kumar commented on #164
I also reached out to support for this problem and they gave a solution for it by writing this command in terminal `fdk pack --skip-validation lint`.

[2020-06-15 07:11] #164 closed

[2020-07-22 00:39] sabatale opened #168 "[Enhancement] - Solutions/Knowledge base location"
**Description of the enhancement:**
Is there any location related to Solutions/Knowledge base?

I've tried something like `kbase-sidebar` but it doesn't seem to be working.

There are also no events related to Solutions either (e.g. When a Solution is added to the conversation by the agent) but I'm guessing that's because Freshdesk itself does offer them at all.

**For which Freshworks product?**

[2020-08-06 18:04] ravirajsubramanian commented on #168
Hi @sabatale,

Thank you for creating this issue to request for a feature request.

This currently does not present in the Freshdesk product app locations and to solve the very use-case. This requires extensible support from Freshdesk to incorporate this feature. It will be implemented later in time as the Freshdesk product team confirmed.

This feedback has already been tracked [here](https://com

[2020-08-06 18:04] #168 closed

[2020-08-29 15:49] sabatale opened #179 "[Enhancement] - Add Password field type / strength for Administration Settings"
**Description of the enhancement:**
Adding Password field type with strength indicator and "show/hide" to the standard Administration Settings.

**For which Freshworks product?**
- [X] Freshdesk
- [ ] Freshchat
- [ ] Freshsales
- [X] Freshservice
- [ ] Freshcaller

**Describe the solution you'd like**
Example here: [https://codepen.io/ka8051/pen/tdopb](https://codepen.io/ka8051/pen/tdopb)

[2020-08-30 08:17] Saif-Shines commented on #179
Thanks for opening and suggesting this issue @sabatale . We will take up working on it for Custom Installation Page similarly and providing a sample for it. However, iparams.json I'd convert this as a feedback item and pass it on to our product managers.

[2020-09-06 14:36] sabatale opened #182 "[Bug] - Dynamic iparams sample does not show error on first call"
**Describe the bug**
The UI shows an alert for an error status code only after a second attempt.

**Link to the bug'd Sample App**
[https://github.com/freshworks/marketplace-sample-apps/tree/master/Freshworks-Samples/App-Development-Features/Configuration-Features/dynamic_iparams](https://github.com/freshworks/marketplace-sample-apps/tree/master/Freshworks-Samples/App-Development-Features/Configur

[2020-09-18 14:28] sabatale commented on #182
@hemchander23

[2020-09-21 13:27] hemchander23 commented on #182
Thanks for bringing this to our attention @sabatale. This issue has been reported and is being looked at. I will keep you updated on the progress

[2020-09-23 13:21] Saif-Shines opened #185 "lowercase the folder name and update readme file"
_Maintainer's thoughts:_

This issue is ideally for pure beginners learning to make PRs and get familiar with open source contributions. Involve yourself to explore how apps on Freshworks developer platform run.

- [ ] Find sample code for `quick_links_app` app in this repository and tell us(in comments) if you were able to find it under 30s.
- [ ] Lower case the contents inside the `screenshots`

[2020-09-23 14:01] Saif-Shines opened #186 "make improvements to [advanced_data_storage_app]"
This app looks almost fine unless there are few updates to be done,

- [ ] Re organise all the files and folders in following structure. Make sure the `html`, `css` and `js` files have right references to `src`s.
[code]
- [ ] If you find any `iparams_test_data.json` inside of `config/` directory. Delete it.
- [ ] Install [Freshworks CLI](https://community.developers.freshworks.com/t/what-are-the-p

[2020-09-23 15:41] Saif-Shines opened #187 "improve intercepting_events_app"
By working on this app, you will learn the about the APIs that will intercept (stop) and action to happen when certain condition is met. Does this sound interesting to you? If yes, let's dive in.

- [ ] Find sample code for `intercepting_events_app` folder in the repository and tell us(in comments) if you were able to find it under 30s.
- [ ] (Optional) Add [summary in JSDoc commenting standards](

[2020-09-24 04:29] Saif-Shines opened #188 "refactor [customer interactions app]"
All I would disclose here is this app is uses data store of the Freshworks developer platform. Yet, there are a lot of things that you have help this app be a code sample for rest of the developer community. I will quickly list out some of those steps.
- [ ] Find sample code for `conditional ticket properties` app in the repository and tell us(in comments) if you were able to find it under 30s.
-

[2020-09-24 05:10] Saif-Shines opened #189 "reorganise [request_api] app"
This app simply demostrates the usage of Request API that app uses. However there are some problems those need to fixed for the broader developer community to benefit while using this code sample.
- [ ] Find sample code for `request_api` app in the repository and tell us(in comments) if you were able to find it under 30s.
- [ ] If you find any `iparams_test_data.json` inside of `config/` directory

[2020-09-24 05:19] Saif-Shines opened #190 "refactor and improve [simple request app] with crayons"
- [ ] Find sample code for `simple request app` app in the repository and tell us(in comments) if you were able to find it under 30s.
- [ ] (Optional) Add [summary in JSDoc commenting standards](https://jsdoc.app/tags-summary.html) and [elaborate parameters](https://jsdoc.app/tags-param.html) if you understand the code.
- [ ] Lower case the contents inside the `screenshots` folder (and `Screenshot

[2020-09-24 05:35] Saif-Shines opened #191 "improve [simple_events_api_app]"
_Maintainer's thoughts:_

This issue is ideally for pure beginners learning to make PRs and get familiar with open source contributions. Involve yourself to explore how apps on Freshworks developer platform run. You may not end up develop apps for Freshworks but experiece remains helpful where so ever you choose to build apps. Chrome Store? Web Apps? Atlassian apps? Using github CLI? Stripe CLI?

[2020-09-24 05:38] Saif-Shines opened #192 "mess with interface API"
_Maintainer's thoughts:_

This issue is ideally for pure beginners learning to make PRs and get familiar with open source contributions. Involve yourself to explore how apps on Freshworks developer platform run. You may not end up develop apps for Freshworks but experiece remains helpful where so ever you choose to build apps. Chrome Store? Web Apps? Atlassian apps? Using github CLI? Stripe CLI?

[2020-09-24 05:42] Saif-Shines opened #193 "improve ticket_background_app"
_Maintainer's thoughts:_

This issue is ideally for pure beginners learning to make PRs and get familiar with open source contributions. Involve yourself to explore how apps on Freshworks developer platform run. You may not end up develop apps for Freshworks but experience remains helpful where so ever you choose to build apps. Chrome Store? Web Apps? Atlassian apps? Using github CLI? Stripe CLI?

[2020-09-24 05:54] Saif-Shines opened #194 "reorganise [custom installation page] app"
_Maintainer's thoughts:_

This issue is ideally for pure beginners learning to make PRs and get familiar with open source contributions. Involve yourself to explore how apps on Freshworks developer platform run. You may not end up develop apps for Freshworks but experiece remains helpful where so ever you choose to build apps. Chrome Store? Web Apps? Atlassian apps? Using github CLI? Stripe CLI?

[2020-09-24 06:02] Saif-Shines opened #195 "organise [sample_full_page_app]"
_Maintainer's thoughts:_

This issue is ideally for pure beginners learning to make PRs and get familiar with open source contributions. Involve yourself to explore how apps on Freshworks developer platform run. You may not end up develop apps for Freshworks but experiece remains helpful where so ever you choose to build apps. Chrome Store? Web Apps? Atlassian apps? Using github CLI? Stripe CLI?

[2020-09-24 16:20] hemchander23 commented on #182
Hi @sabatale, The bug has been identified on the platform side and has been logged as a ticket. Will keep you posted on the fix

[2020-09-25 05:28] rajatdiptabiswas commented on #185
Hi @Saif-Shines
I have renamed the files to lowercase and updated references in the `README.md`.

I am having trouble understanding the file reorganization according to the folder tree you mentioned.
Should I change the structure of the contents of `/Demo-Apps/quick_links_app/app`?

This will break the links in the HTML files, right? I'm assuming the links should also be updated?
Should I rename t

[2020-09-26 10:00] Saif-Shines commented on #185
Awesome, @rajatdiptabiswas !

To answer your questions,
- Yes,please only change the structure of contents of `quick_links_app`
- That will break the links. Your assumption is correct. Relevant places were they need to be update should be updated.
- Renaming `template.html` to `index.html` is the right move.

[2020-09-28 10:42] Saif-Shines opened #197 "Improve pomodoro app for Freshservice"
###### Maintainer's Thoughts

Thank you for exploring Freshworks samples as a place to contribute. It will definitely help daily developers who visit this place regularly for reference. I have put together some couple of tasks that you can pick up quick.

- [ ] Find sample code for `pomodoro` app in the repository and tell us (in comments) if you were able to find it under 30s.
- [ ] (Optional) Ad

[2020-09-29 13:03] harish-sethuraman commented on #113
@Saif-Shines Can i pick this issue for hacktober fest ?

[2020-09-29 14:15] Saif-Shines commented on #113
@harish-sethuraman

Thanks for your interest. Sure, please feel free to pick this up. I will assign the PR to you.

[2020-09-30 01:39] maruthimohan commented on #197
Hi @Saif-Shines , Could I work on this project?

[2020-09-30 04:23] Saif-Shines commented on #197
Morning, @maruthimohan

Appreciate your interest to pick up this task. Let me assign this to you.

[2020-09-30 13:26] Saif-Shines opened #199 "[App Request] - Typescript Serverless App sample"
**Describe the sample app use-case :**
There are a lot of app [developers](https://github.com/freshworks/marketplace-sample-apps/tree/master/Freshworks-Samples/Freshchat) who might be looking to build a Typescript serverless app. How about coming up with a template for developer community for it?

**For which product ? :**
- [ ] Freshdesk
- [x] Freshchat
- [ ] Freshsales
- [ ] Freshservice
- [ ] F

[2020-09-30 17:55] ravirajsubramanian opened #200 "[Enhancement] - Refactor custom installation page app"
_Maintainer's thoughts:_

This issue is ideally for pure beginners learning to make PRs and get familiar with open source contributions. Involve yourself to explore how apps on Freshworks developer platform run. You may not end up develop apps for Freshworks but experience remains helpful where so ever you choose to build apps. Chrome Store? Web Apps? Atlassian apps? Using GitHub CLI? Stripe CLI?

[2020-09-30 18:14] ravirajsubramanian opened #201 "[Enhancement] - Add secure installation parameter in the simple request app"
### Description of the enhancement
In the [simple_request_app](https://github.com/freshworks/marketplace-sample-apps/tree/master/Freshworks-Samples/App-Development-Features/Advanced-Features/request_method/simple_request_app) for Request method, sample HTTP request methods are shown with the use of [Request API feature](https://developer.freshdesk.com/v2/docs/request-api).
Secure installation para

[2020-09-30 21:16] HunainHumail commented on #199
Can I make a serverless chat app on firebase using React Native?

[2020-10-01 05:25] Saif-Shines commented on #199
@HunainHumail

Sure you can. Let me have an issue created for it ans assign it to you.

Appreciate your interest.

[2020-10-01 05:31] Saif-Shines commented on #199
@HunainHumail

Do you mind creating an issue for it on this repository and describe how you want to build it? (Select 'Blank issue template' if existing templates do not fit well )

I will let some of our team members to engage with you on a thread and we could solution it in optimal way. Once you feel more confident, may be you can start working on the PR.

[2020-10-01 08:04] ravirajsubramanian commented on #185
Hi @rajatdiptabiswas,

Thank you for picking up this task.

All the required changes are done. 🎉  I have suggested a small change in the file names of screenshot images.
Please incorporate the changes and let us know if you have any doubt on it.

[2020-10-01 09:11] iyosayi commented on #200
Can this be assigned to me? Thanks.

[2020-10-01 10:01] ravirajsubramanian commented on #200
Hi @iyosayi,

Sure, I will assign this to you.

Please post in the comments here if you have any queries.

[2020-10-01 10:02] iyosayi commented on #200
Thank you, if I have any queries, I'd let you know.

[2020-10-01 10:29] rajatdiptabiswas commented on #185
Hello @ravirajsubramanian
I've made the changes. Please take a look at the new PR.
Thanks!

[2020-10-01 10:41] #185 closed

[2020-10-01 10:44] ravirajsubramanian commented on #185
Awesome! 🎉

Thank you, @rajatdiptabiswas. 😄

[2020-10-01 16:08] raj5036 commented on #186
Working on this. Please assign me.

[2020-10-01 16:09] Saif-Shines commented on #113
@JANANI04 While multiple people picking up same issue for Hacktoberfest is not the problem, By the time of merging the pull request raised, maintainers can only merge 1 PR at a time. So even though multiple participants raise multiple PRs for the same issue, maintainers will have no choice to merge the best suitable one. (If there aren't any merge conflicts and legit, sometimes both)

If you find

[2020-10-01 16:55] raj5036 commented on #186
I already have node and npm installed. Is installing nvm mandatory? Or I can proceed without that?

[2020-10-01 17:16] harish-sethuraman commented on #113
@JANANI04 I have fixed the issue lll be creating a PR tomorrow.
Thanks.

[2020-10-01 17:34] ravirajsubramanian commented on #186
Hi @raj5036,

Thanks for showing interest to contribute.

NVM is not required. Currently, our CLI (FDK) works well with Node version 10.18. If you have other version, the app may not work very well. So, NVM can be used to install this version of Node additionally to work with Freshworks apps.

If you have the right version of Node, you're good to go. 😄

[2020-10-02 02:02] #113 closed

[2020-10-02 05:32] raj5036 commented on #186
Okay @ravirajsubramanian .

[2020-10-02 13:29] itzarshath commented on #201
Can this be assigned to me? Thanks

[2020-10-02 13:33] itzarshath commented on #195
Can this be assigned to me? Thanks.

[2020-10-02 13:44] itzarshath commented on #149
Is this issue specific to any app or to all app?

[2020-10-03 00:45] Saif-Shines commented on #149
Hi @itzarshath ,

Couple of apps on this repository do not follow the JSDoc documenting standards, while anyone is allowed raise a PR fixing it for any app on this repository this issue by example suggests - `conditional ticket properties` app

[2020-10-03 00:46] Saif-Shines commented on #195
Thank you taking tome on this, @itzarshath !

[2020-10-03 07:34] harish-sethuraman commented on #189
@Saif-Shines Ill pick this issue ! 😃

[2020-10-03 09:03] Saif-Shines commented on #189
Assigned it to you @harish-sethuraman !

[2020-10-03 09:10] Saif-Shines commented on #201
Assigned, @itzarshath :)

[2020-10-03 09:34] Saif-Shines opened #207 "Refactor ticket close interceptor's Javascript code"
This issue more on code improvement focus. If you find this exciting, feel free to pick it up.

1. Somewhere on this repository, there's an Freshdesk app named `ticket_close_interceptor`
2. Once you find it, look into app.js code in it. It might look bit longer with callback hell.
3. Look at this [example of HTML, CSS and JS code](https://jsbin.com/kafepeh/3/edit?html,css,js) and make existing cod

[2020-10-03 10:07] RShalman commented on #207
I'll take it)

[2020-10-03 12:09] RShalman commented on #207
Created PR #210

[2020-10-03 13:10] #207 closed

[2020-10-03 13:15] #197 closed

[2020-10-03 14:50] gopalak99 commented on #127
Hi @Saif-Shines , regarding this Air table form sync app do you want it for both sales 360 and stand alone because sales360 does not have leads module.

[2020-10-03 18:33] ravirajsubramanian commented on #197
@maruthimohan Thank you for contributing to this repository! 😄

If you're interested, take a look at the other issues as well. If you have any feedback on your app refactoring, please share it with us on [our developer forum](https://community.developers.freshworks.com). 💬

[2020-10-03 18:39] #189 closed

[2020-10-04 06:01] #149 closed

[2020-10-04 06:06] Saif-Shines commented on #127
@gopalak99

This task might require more effort and time. Appreciate your effort to pick this issue. Let me enable this issue for Hacktoberfest and assign this issue to you.

Only for sales would be very good enough. Please feel free to leave the app lean and minimum viable as per your time and flexibility.

[2020-10-04 06:09] #201 closed

[2020-10-04 07:03] harish-sethuraman commented on #194
@Saif-Shines  Ill take up this issue 😄

[2020-10-04 12:22] gopalak99 commented on #127
@Saif-Shines

Thanks for the clarification!

[2020-10-04 18:25] harish-sethuraman commented on #125
Ill pick this App too ! @Saif-Shines

[2020-10-04 23:01] jms429 commented on #191
I think I would like to do this.

[2020-10-04 23:32] jms429 commented on #191
Yes, I was able to find simple_events_api_app sample code, assuming you know to look under Basic-Features to begin with. I think this answers your question.

[2020-10-05 08:04] arunrajkumar235 commented on #199
Linking this to a PR https://github.com/freshworks/marketplace-sample-apps/pull/214

[2020-10-05 09:09] Saif-Shines commented on #125
Sure @harish-sethuraman !

Please make sure you [signup for Hacktoberfest](https://hacktoberfest.digitalocean.com/details/) if you haven't yet! :)

[2020-10-05 09:11] Saif-Shines commented on #191
Awesome @jms429 ! I have assigned this issue to you. See you soon raising a pull request.

[2020-10-05 09:12] #194 closed

[2020-10-05 09:13] harish-sethuraman commented on #125
@Saif-Shines Yea sure ! i've done it.

[2020-10-05 09:29] Saif-Shines opened #215 "improve Github_Issue_Creator app"
- [ ] Find sample code for `Github_Issue_Creator` app in the repository and tell us(in comments) if you were able to find it under 30s.
- [ ] (Optional) Add [summary in JSDoc commenting standards](https://jsdoc.app/tags-summary.html) and [elaborate parameters](https://jsdoc.app/tags-param.html) if you understand the code.
- [ ] Lower case the contents inside the `screenshots` folder (and `Screensh

[2020-10-05 09:32] Saif-Shines opened #216 "Refactor [timer_on_tap] app"
- [ ] Find sample code for ~~`conditional ticket properties`~~ `timer_on_tap` app in the repository and tell us(in comments) if you were able to find it under 30s.
- [ ] (Optional) Add [summary in JSDoc commenting standards](https://jsdoc.app/tags-summary.html) and [elaborate parameters](https://jsdoc.app/tags-param.html) if you understand the code.
- [ ] Lower case the contents inside the `screen

[2020-10-05 09:38] #200 closed

[2020-10-05 10:08] harish-sethuraman commented on #125
@Saif-Shines I have a small doubt. While showing the number of messages in the convo. Im using data method and fetching number of messages from the conversation object. It doesnt update when we send a new message and is updated only when we load a conversation. So shall i show the message count when the data was last fetched ?

[2020-10-05 10:44] mani-rsg commented on #190
Can you assign this to me ? @Saif-Shines

[2020-10-05 11:04] Saif-Shines commented on #125
@harish-sethuraman  That should be close enough. Maybe a pop saying "You have exchanged about **almost** XX number of messages with this customer! " will sound fair as well.

[2020-10-05 11:06] harish-sethuraman commented on #125
@Saif-Shines Yep okay ive raised the pr.

[2020-10-05 18:43] ravirajsubramanian commented on #190
This issue is fixed in the PR #218.

[2020-10-05 18:43] #190 closed

[2020-10-05 22:28] SoldierCorp commented on #216
Hi!

I found the sample code in about 40s because to be honest, I didn't know where to look at first so I cloned the repo and performed a search.

But I would like to help if you can assign it to me please.

[2020-10-06 03:03] Saif-Shines commented on #216
Sure, @SoldierCorp

I wanted to acknowledge that I made a mistake initially in the first task in the issue description which I've fixed it now.

40s! Cool, thanks for being honest. We hoping for the app to be discoverable under 1 min as well

[2020-10-06 03:04] #125 closed

[2020-10-06 06:04] mani-rsg commented on #188
Can you assign this to me @Saif-Shines ?

[2020-10-06 16:12] #188 closed

[2020-10-06 16:22] #127 closed

[2020-10-06 16:22] #199 closed

[2020-10-07 06:52] harish-sethuraman commented on #186
@raj5036 Are you actively working on this issue or else i can fix this ?

[2020-10-07 08:13] raj5036 commented on #186
Okay go ahead... @harish-sethuraman

[2020-10-09 17:04] RShalman commented on #187
Hi, I'd like to take that one =)

[2020-10-09 17:53] RShalman commented on #158
Hi, @Saif-Shines !

The problem is that at line 1 in **servers.js** file you have `var needle = loadDependency('needle');`
and this `loadDependency` function is not declared or imported somewhere.
May be you somehow deleted it before?

[2020-10-11 05:49] #187 closed

[2020-10-11 05:52] #186 closed

[2020-10-11 05:55] #193 closed

[2020-10-11 07:02] sarfaraz187 commented on #126
Hello saif,
I would like to contribute in building this app. If have any plan in mind for the app can you direct me towards it?

[2020-10-11 08:31] RShalman commented on #215
Hi, I'll take it)

[2020-10-11 08:32] RShalman commented on #192
Hi, I'll take it)

[2020-10-11 14:57] #192 closed

[2020-10-11 14:59] #215 closed

[2020-10-11 15:00] Saif-Shines commented on #182
@sabatale Our team have notified us saying this issue has not been fixed ! Thanks for reporting the bug!

[2020-10-11 15:00] #182 closed

[2020-10-11 15:05] Saif-Shines commented on #158
@RShalman That could be the case. This is a very old app written 4 years ago. Let me look into and learn more about it to find good direction to fix this.

[2020-10-12 07:55] ravirajsubramanian opened #229 "[Enhancement] - Convert ES6 syntax to ES5 syntax"
**Description of the enhancement:**
In the [advanced_data_storage_app](https://github.com/freshworks/marketplace-sample-apps/tree/master/Freshworks-Samples/App-Development-Features/Advanced-Features/data_storage/advanced_data_storage_app), change all the ES6 syntax to ES5 syntax to support wide range of browsers and older browser versions.

**For which Freshworks product?**
- [x] [Freshdesk](https

[2020-10-12 09:26] Saif-Shines commented on #126
Hi @sarfaraz187 ,

This issue was created initially not for Hacktoberfest purpose, so this might require lot of time and effort. So you may choose to implement the aspects those will fit your time an expertise.

Having said that I will include it for hacktoberfest and let you know some of my thoughts that can help you as you plan to take it on.

1. App can use the [placeholder in Inbox Page](https

[2020-10-12 09:27] Saif-Shines commented on #216
@SoldierCorp , Do let us know if you need any help :-)

[2020-10-12 09:39] Saif-Shines opened #230 "[Feature Request] - Sample code to demostrate Authentication | Freshchat"
**Describe the sample app use-case :**
A sample code of Freshchat that demonstrates consumption of it's own[ Freshchat APIs](https://developers.freshchat.com/api/#channel) could be helpful. An simple rendering of response on UI can be good code sample. You can choose to consume any API that seems suitable to you.

**For which product ? :**
- [ ] Freshdesk
- [x] Freshchat
- [ ] Freshsales
- [ ] Fre

[2020-10-12 10:10] AlexandreInsua commented on #229
Can I work in this issue?

[2020-10-12 11:57] Chris-Blesson commented on #128
Hello Saif, I would like to work on this could you assign this to me, thanks in advance. But can I use a sample data for this app?

[2020-10-12 17:32] sarfaraz187 commented on #126
Hello @Saif-Shines ,

Thanks for your suggestions and assigning me this App. Yes Saif i will keep in mind the time and effort required. As you have suggested will work on one module at a time.
Regarding the Enrich API,
- Had gone through the documentation and was planning to use [Multi Field Request](https://dashboard.fullcontact.com/api-ref#multi-field-request) API.
- Enrich requires an API key i

[2020-10-12 18:21] Saif-Shines commented on #126
That works @sarfaraz187 , anything as per your convenience.

[2020-10-13 07:32] ravirajsubramanian commented on #229
@AlexandreInsua, this issue was addressed in #231. Can you pick up any other issues to give a PR?

[2020-10-13 09:59] Saif-Shines commented on #128
Hi @Chris-Blesson ,

Yes, Chris. Since it's just the sample you can maybe put some Sample data alone!  Thank you for taking up interest, let me make this  availabe for Hacktoberfest.

[2020-10-13 19:27] AlexandreInsua commented on #229
@ravirajsubramanian, I'm afraid there are already people working on all issues.

[2020-10-14 06:25] ravirajsubramanian commented on #195
@ghost do you need any help with this?

[2020-10-14 06:27] ravirajsubramanian commented on #191
Closed in #228

[2020-10-14 06:27] #191 closed

[2020-10-14 09:19] Chris-Blesson commented on #128
Thanks a lot @Saif-Shines

[2020-10-18 18:11] sarfaraz187 commented on #126
Hello @Saif-Shines,

Started working on Freshchat App Request and have implemented some of the features that had been requested. Kindly review the application and let me know your feedback [Git Repo](https://github.com/sarfaraz187/FullContact-Freshchat-App).

Here are few questions in which your suggestions can be helpful.

1. Contact information displayed in modal is it sufficient?
2. Since i am

[2020-10-19 12:34] Saif-Shines commented on #126
Hi @sarfaraz187 ,

We went through the code. Although there is a room for improvement, none of it is a blocker to have your code on this repository. If there is nothing else you'd add or subtract, please rase a PR adding [app's code to Demo Apps folder](https://github.com/freshworks/marketplace-sample-apps/tree/master/Demo-Apps).

Really appreciate your efforts and taking time to contribute.

[2020-10-19 17:28] sarfaraz187 commented on #126
Hi @Saif-Shines,

Thanks for the update. If you have any suggestions for improvement do let me know or else if you had in mind for others in our community to contribute in the improvement of this app i'll be more than happy to raise PR request with the current version.

[2020-10-22 10:33] Chris-Blesson commented on #128
Hey @Saif-Shines  I think there was some error while raising PR not sure if my PR got it in. Should I raise an another PR  ?

[2020-10-22 14:18] Saif-Shines commented on #126
Hey @sarfaraz187,

Raise a PR and let's have it merged. Then we will focus on improvements gradually. 😄

[2020-10-23 06:23] Saif-Shines commented on #128
Looks it got in, @Chris-Blesson .

[2020-10-23 09:08] SoldierCorp commented on #216
Hi @Saif-Shines,

I already replaced jQuery for plain JS in `startTimer.js` but I have the following questions and I hope you can help me to solve them.

- Even before the replacing, the app in my ticket on the Freshdesk dashboard wasn't working because I am getting this `Some error has occured while fetching Agents.` every time I press on `time_on_tap` and the error on catch is returning this.
![

[2020-10-23 10:13] ravirajsubramanian commented on #216
@SoldierCorp The issue says the URL sent in the Request API is an invalid URL. If you take a look at the API request code, you can notice there's a template `https://<%= iparam.freshdesk_domain %>.freshdesk.com` where `freshdesk_domain` is expected to come from [iparam (Installation Parameter)](https://developer.freshdesk.com/v2/docs/installation-parameters).

Follow the testing steps to fill in t

[2020-10-23 12:45] SoldierCorp commented on #216
@ravirajsubramanian

I did it, the terminal displayed the instruction to open http://localhost:10001/custom_configs and fill the form and I filled it so I'll check the forum this time.

Thanks!

[2020-10-23 16:36] #229 closed

[2020-10-23 17:35] ravirajsubramanian opened #234 "[Enhancement] - Remove jQuery imports from apps that never uses it"
**Description of the enhancement:**
The following apps do not use jQuery. But, it was imported in the HTML files of the application.
1. Demo-Apps/react_todo_app
2. Demo-Apps/sentimental_jeff_app
3. Demo-Apps/twilio_sms
4. Freshworks-Samples/App-Development-Features/Advanced-Features/data_storage/advanced_data_storage_app
5. Freshworks-Samples/App-Development-Features/Advanced-Features/data_storage

[2020-10-23 17:45] ravirajsubramanian opened #235 "[Enhancement] - Remove jQuery from notes_reminder app"
**Description of the enhancement:**
The jQuery library has been imported and used in the notes_reminder app. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For which Freshworks product?**
- [ ] Freshdesk
- [ ] Freshchat
- [ ] Freshsales
- [x] Freshservice
-

[2020-10-23 17:49] ravirajsubramanian opened #236 "[Enhancement] - Remove jQuery from quick_links_app app"
**Description of the enhancement:**
The jQuery library has been imported and used in the `Demo-Apps/quick_links_app` app. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For which Freshworks product?**
- [x] Freshdesk
- [ ] Freshchat
- [ ] Freshsales
- [ ] F

[2020-10-23 17:53] ravirajsubramanian commented on #229
@AlexandreInsua Hey, Hope, you're doing well.
I have added a few more issues. Please take a look at them if they are interesting to give a PR for. 😀

[2020-10-23 17:58] ravirajsubramanian opened #237 "[Enhancement] - Remove jQuery from enhanced_data_storage_app"
**Description of the enhancement:**
The jQuery library has been imported and used in `Freshworks-Samples/App-Development-Features/Advanced-Features/data_storage/enhanced_data_storage_app`. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For which Freshworks

[2020-10-23 18:01] ravirajsubramanian opened #238 "[Enhancement] - Remove jQuery from simple_datastorage_app"
**Description of the enhancement:**
The jQuery library has been imported and used in `Freshworks-Samples/App-Development-Features/Advanced-Features/data_storage/simple_datastorage_app`. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For which Freshworks pro

[2020-10-23 18:07] ravirajsubramanian opened #239 "[Enhancement] - Remove jQuery from instance_api app"
The jQuery library has been imported and used in the `Freshworks-Samples/App-Development-Features/Advanced-Features/instance_method/instance_api` app. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For which Freshworks product?**
- [x] Freshdesk
- [ ] Fresh

[2020-10-23 18:09] ravirajsubramanian opened #240 "[Enhancement] - Remove jQuery from multi_config_oauth_app"
**Description of the enhancement:**
The jQuery library has been imported and used in the `Freshworks-Samples/App-Development-Features/Advanced-Features/oauth2/multi_config_oauth_app` app. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For which Freshworks p

[2020-10-23 18:10] ravirajsubramanian opened #241 "[Enhancement] - Remove jQuery from onedrive_oauth_app"
**Description of the enhancement:**
The jQuery library has been imported and used in the `Freshworks-Samples/App-Development-Features/Advanced-Features/oauth2/onedrive_oauth_app` app. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For which Freshworks produ

[2020-10-23 18:12] ravirajsubramanian opened #242 "[Enhancement] - Remove jQuery from scheduled_events_sample_app"
**Description of the enhancement:**
The jQuery library has been imported and used in the `Freshworks-Samples/App-Development-Features/Serverless-Features/scheduled_events/scheduled_events_sample_app` app. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For w

[2020-10-23 18:13] ravirajsubramanian opened #243 "[Enhancement] - Remove jQuery from requester_info_retriever app"
**Description of the enhancement:**
The jQuery library has been imported and used in the `Freshworks-Samples/Freshdesk/requester_info_retriever` app. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For which Freshworks product?**
- [x] Freshdesk
- [ ] Freshc

[2020-10-23 18:14] ravirajsubramanian opened #244 "[Enhancement] - Remove jQuery from tickets_creation_scheduler_app"
**Description of the enhancement:**
The jQuery library has been imported and used in the `Freshworks-Samples/Freshdesk/tickets_creation_scheduler_app` app. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For which Freshworks product?**
- [x] Freshdesk
- [ ]

[2020-10-23 18:16] ravirajsubramanian opened #245 "[Enhancement] - Remove jQuery from timer_on_tap app"
**Description of the enhancement:**
The jQuery library has been imported and used in the `Freshworks-Samples/Freshdesk/timer_on_tap` app. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For which Freshworks product?**
- [x] Freshdesk
- [ ] Freshchat
- [ ] Fr

[2020-10-23 18:17] ravirajsubramanian opened #246 "[Enhancement] - Remove jQuery from conditional_ticket_properties app"
**Description of the enhancement:**
The jQuery library has been imported and used in the `Freshworks-Samples/Freshservice/conditional_ticket_properties` app. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For which Freshworks product?**
- [ ] Freshdesk
- [

[2020-10-23 18:18] ravirajsubramanian opened #247 "[Enhancement] - Remove jQuery from freshsales_integration app"
**Description of the enhancement:**
The jQuery library has been imported and used in the `Freshworks-Samples/Freshservice/freshsales_integration` app. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For which Freshworks product?**
- [ ] Freshdesk
- [ ] Fresh

[2020-10-23 18:19] ravirajsubramanian opened #248 "[Enhancement] - Remove jQuery from onclick_alerts app"
**Description of the enhancement:**
The jQuery library has been imported and used in the `Freshworks-Samples/Freshservice/onclick_alerts` app. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For which Freshworks product?**
- [ ] Freshdesk
- [ ] Freshchat
- [

[2020-10-23 18:20] ravirajsubramanian opened #249 "[Enhancement] - Remove jQuery from show_ticket_and_associated_details app"
**Description of the enhancement:**
The jQuery library has been imported and used in the `Freshworks-Samples/Freshservice/show_ticket_and_associated_details` app. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For which Freshworks product?**
- [ ] Freshdesk

[2020-10-23 18:22] ravirajsubramanian opened #250 "[Enhancement] - Remove jQuery from scheduled_events_tutorial app"
**Description of the enhancement:**
The jQuery library has been imported and used in the `Play-Along/Tutorials/scheduled_events_tutorial` app. Since jQuery is a heavy-lift for this simple application and jQuery is not safe-by-default, it can be removed altogether and replaced with Vanilla JavaScript and CSS wherever it is used.

**For which Freshworks product?**
- [x] Freshdesk
- [ ] Freshchat
- [

[2020-10-23 19:39] JoaoJesus94 commented on #236
Hello, I would like to help on this one. Can you assign it to me?

[2020-10-23 21:34] ethanny2 commented on #248
Hello, can I attempt to fix this issue? I ran it locally in the recommended dev environment and it seems like within `Freshworks-Samples/Freshservice/onclick_alerts/app/app.js` this snippet when the document is ready

[code]

actually fires twice probably registering the same eventListeners. This is most likely a problem beyond the scope of this issue, but I just thought I would bring it up.

[2020-10-24 03:12] quocanh261997 commented on #250
Hi, I'd like to take over this issue

[2020-10-24 03:50] svnnynior commented on #249
Hello, I would like to take this over, could you assign it to me?

[2020-10-24 05:18] carlospatinos commented on #234
Can I take this?

[2020-10-24 13:54] ravirajsubramanian commented on #236
Hi @JoaoJesus94,
Sure, I will assign this to you. We hope to get a PR from you soon. 😀

[2020-10-24 13:58] ravirajsubramanian commented on #248
Hey @ethanny2,

If you're already working on this issue, let me assign it to you.

About the first issue, check if you can fix it while you're refactoring the code. If it's still occurring, please create an issue so that anyone else can pick it up and fix it.

About the coverage, yes, it's fine for the PR to have less coverage.

[2020-10-24 14:23] ravirajsubramanian commented on #234
Hi @carlospatinos,

Thanks for taking this app. Looks like some of these apps use jQuery in the scripts as well.

If they are using jQuery, please try to replace it's usage with VanillaJS scripts. (You can use [this jQuery to JS cheatsheet](https://tobiasahlin.com/blog/move-from-jquery-to-vanilla-javascript/#document-ready) if it's helpful) or just leave those apps out of your PR.
I will create se

[2020-10-24 14:27] #126 closed

[2020-10-25 02:27] #250 closed

[2020-10-25 02:33] #247 closed

[2020-10-25 05:41] Chris-Blesson commented on #249
Hello @ravirajsubramanian ill work on this.

[2020-10-25 06:57] ravirajsubramanian commented on #249
Sure, @Chris-Blesson. I have assigned it to you. Hope to see a PR from you soon. 😃

[2020-10-25 13:54] #128 closed

[2020-10-25 13:57] #243 closed

[2020-10-25 13:59] #235 closed

[2020-10-25 14:00] #238 closed

[2020-10-25 14:03] #244 closed

[2020-10-27 06:24] #246 closed

[2020-10-27 06:26] #240 closed

[2020-10-27 06:34] #242 closed

[2020-10-27 06:35] #237 closed

[2020-10-27 06:39] #239 closed

[2020-10-27 06:40] #245 closed

[2020-10-27 06:40] #241 closed

[2020-10-27 11:29] #236 closed

[2020-10-29 11:20] #248 closed

[2020-10-29 11:46] ravirajsubramanian commented on #216
The jQuery library has been removed from this app on #245. So, it can be neglected when addressing this issue.

[2020-10-30 06:15] mani-vandrangi opened #272 "[Bug] - Replace bootstrap as jQuery needs to be added for bootstrap"
**Describe the bug**
When an app uses bootstrap, jQuery is also needed to be added as a dependency due to https://stackoverflow.com/questions/22658015/bootstrap-throws-uncaught-error-bootstraps-javascript-requires-jquery

**Link to the bug'd Sample App**
https://github.com/freshworks/marketplace-sample-apps/blob/master/Freshworks-Samples/Freshservice/show_ticket_and_associated_details/app/content.

[2020-11-02 04:48] #216 closed

[2020-11-02 04:49] #230 closed

[2021-01-13 13:15] #158 closed

[2021-01-15 11:51] sauravjaiswalsj commented on #195
Can this be assigned to me?
 Thanks

[2021-01-15 15:37] ravirajsubramanian commented on #195
Sure, Saurav.
Please approach [our developer community](community.developers.freshworks.com) if you need any help.

[2021-01-15 15:46] sauravjaiswalsj commented on #195
I have created PR #289 Please check

[2021-01-15 17:18] ravirajsubramanian commented on #195
Thank you @sauravjaiswalsj for your contribution!

If you have any feedback, please let us know in [our developer community](https://community.developers.freshworks.com).

[2021-01-15 17:18] #195 closed

[2021-01-15 17:30] sauravjaiswalsj commented on #234
Can this be assigned to me?
Thanks

[2021-01-15 18:03] ravirajsubramanian commented on #234
@sauravjaiswalsj Sorry, it has already been fixed in #285, #286, and #287. I will update the status of this issue.

[2021-01-21 05:16] #234 closed

[2021-01-21 06:40] ravirajsubramanian commented on #249
This issue has been resolved in PR #287

[2021-01-21 06:40] #249 closed

[2021-01-23 07:54] tejakummarikuntla opened #292 "[Bug] - Access token supplied contains Invalid chars [Demo-Apps/fullcontact_app]"
**Describe the bug**
The moment hitting the submit button, it responds with a notification `Access token supplied contains Invalid characters`
P.S: I've configured the API Token at `http://localhost:10001/custom_configs`, Token created from the Admin page of freshchat.

**Link to the bug'd Sample App**
https://github.com/freshworks/marketplace-sample-apps/tree/cfb155bc4b9470bb07c7aeae4f852e6c88101

[2021-02-21 08:02] Saif-Shines opened #298 "no error handler & descriptive help text"
The [iparams.js](https://github.com/freshworks/marketplace-sample-apps/blob/HEAD/Freshworks-Samples/App-Development-Features/Configuration-Features/config-iparams-json-fdesk/config/assets/iparams.js) has two minor bugs to be fixed

1. The `checkSignature` function should show nicer help text instead of `asdf` test.
2. There's no `handleErr` function defined but function is called at L8

[2021-02-27 12:47] Saif-Shines opened #299 "[App Request] - config-placeholders-freshservice"
We are trying to build an app repository for every app developer can always refer to and trust by when reusing it. We are working on a [project](https://github.com/freshworks/marketplace-sample-apps/projects/4) for which we would really appreciate if you become part of it.

This repository requires an app similar to **[config-placeholders-freshdesk](https://github.com/freshworks/marketplace-sample

[2021-02-27 12:50] Saif-Shines opened #300 "[Sample App Request] - config-placeholders-crm"
We are trying to build an app repository for every app developer can always refer to and trust by when reusing it. We are working on a [project](https://github.com/freshworks/marketplace-sample-apps/projects/4) for which we would really appreciate if you become part of it.

This repository requires an app similar to **[config-placeholders-freshdesk](https://github.com/freshworks/marketplace-sample

[2021-02-27 12:58] Saif-Shines opened #301 "[Sample App Request] - config-placeholders-freshchat"
We are trying to build an app repository for every app developer can always refer to and trust by when reusing it. We are working on a [project](https://github.com/freshworks/marketplace-sample-apps/projects/4) for which we would really appreciate if you become part of it.

This repository requires an app similar to **[config-placeholders-freshdesk](https://github.com/freshworks/marketplace-sample

[2021-02-27 13:00] Saif-Shines opened #302 "[Sample App Request] - config-placeholders-freshteam"
We are trying to build an app repository for every app developer can always refer to and trust by when reusing it. We are working on a [project](https://github.com/freshworks/marketplace-sample-apps/projects/4) for which we would really appreciate if you become part of it.

This repository requires an app similar to **[config-placeholders-freshdesk](https://github.com/freshworks/marketplace-sample

[2021-03-17 05:20] Saif-Shines opened #306 "[Bug] - freshhuddle.github.io no longer valid"
In the `Play Along/Exercises/README.md` it appears to suggest users refer to freshhuddle.github.io which is no longer valid.

[2021-04-04 19:23] alkanna opened #310 "[Bug] - Client db update add a "#" to the item key"
**Describe the bug**
I have this in my module localstore in local development :
[code]
I then want to remove one of the items of this array, like this :
[code]
This works perfectly fine in local development, however, when using this code in production, I get this :
[code]

Where does that "#" come from ?
Did I do something wrong here ?

[2021-04-05 07:08] ravirajsubramanian commented on #310
Hi @alkanna,

Is this an issue in any one of the samples from this repository? If so, could you share the link to the folder or specific file?

If not, could you please close this issue and start a thread on [our developer forum](https://community.developers.freshworks.com) to report the issue or discuss it? We have peer-developers and platform experts in our community who use this forum to discus

[2021-04-06 11:23] alkanna commented on #310
Hey,

Turns out it was because I could only query json objects and not arrays with this method.
I'm pretty sure this is a limitation from DynamoDB that you guys are using in production, hence why it's working with the fdk server.

What would be nice though, is if the sdk could have similar behaviour as your production environment :)

[2021-04-06 11:23] #310 closed

[2021-04-06 12:20] Saif-Shines commented on #310
@alkanna ,

Understood, I've created a topic on the Feedback category on the community forum.
- https://community.developers.freshworks.com/t/client-db-update-add-a-to-the-item-key/2462

We will work on this and follow up. Appreciate you reporting the issue, @alkanna

[2021-05-08 07:21] teja-kummarikuntla commented on #299
@Saif-Shines , I think we can close this issue, the required app was added during PR #311

[2021-05-10 02:21] #299 closed

[2021-05-10 12:56] #301 closed

[2021-05-11 02:32] Saif-Shines opened #327 "[Feature Request] - Interface Method Sample App"
This repository doesn't have an app that completely demonstrates `interface-methods-freshdesk`

It would be nice to have one.

[2021-05-11 02:36] Saif-Shines opened #328 "[Enhancement] - Link sample apps to tutorials"
There are a couple of sample apps on this repository that demonstrates code used in tutorials. However, there is no way tutorials are discoverable from the sample app alone.

- [ ] Identify the common apps on the tutorials page and sample apps repository.
- [ ] The apps which seem common, add a section in the README.md file which has a link back to the tutorial.

[2021-05-11 02:54] Saif-Shines opened #329 "[Sample App] - Unit Tests for serverless parts"
The serverless parts of the app support unit tests. However, there needs to be a sample app to demonstrates the same.

[2021-05-11 02:56] Saif-Shines opened #330 "[Bug] - Broken Links App Dev Features"
Due to recent changes, there can be some links that are broken in the home the [README.md](https://github.com/freshworks/marketplace-sample-apps/tree/master/Freshworks-Samples/App-Development-Features) within the App Developer Features page.

[2021-05-12 04:12] Saif-Shines opened #333 "[Enhancement] - Refactor Ticket Merger"
The Ticket Merger app in the Demo Apps folder hasn't been refactored for a long time now. We should probably revisit it.

[2021-05-12 04:15] Saif-Shines opened #334 "[Enhancement] - Refactor Twilio SMS app"
The Twilio SMS app in the Demo Apps section needs some attention. Most of the file structure and code are pretty much outdated, we may want to revisit it.

[2021-05-13 14:11] teja-kummarikuntla commented on #272
@mani-vandrangi, I think Bootstrap uses JQuery internally for modals, tooltips, and many others. We can avoid JQuery by just using the CSS part of Bootstrap.
Else, I think we can use [Bootstrap 5](https://getbootstrap.com/docs/5.0/getting-started/introduction/), this will be without jQuery dependency. Else we could also [Native Bootstrap](https://github.com/thednp/bootstrap.native).

I've tried bo

[2021-05-18 07:10] #334 closed

[2021-05-18 07:45] #330 closed

[2021-05-20 05:15] yashsehgal commented on #306
Hey @Saif-Shines, I have gone through the URL and understood the issue. Do we need to remove that link or replace it with any other link?

[2021-05-20 06:18] Saif-Shines commented on #306
Yes, @yashsehgal

We will need to replace the same with the following link (non-existent at the time of issue creation) - https://developers.freshworks.com/tutorials/

_Appreciate you jumping in_

[2021-05-20 06:23] yashsehgal commented on #306
Thanks, @Saif-Shines for your quick help. I would love to fix this bug

[2021-05-21 03:31] Saif-Shines commented on #306
Sure, @yashsehgal

Looking forward for your PR

[2021-06-02 17:17] #333 closed

[2021-06-06 10:17] #306 closed

[2021-09-20 16:05] Froglegg commented on #168
Hi @ravirajsubramanian, any update on this feature request?

[2021-09-22 12:01] AnithaYerra commented on #6
Hi @raghuram-periaswamy ,
I am also facing same issue in this way i have built one oauth app. if am leaving for some time am getting : ```Response 210 “Accesstoken can’t be refreshed``` so may i know how can i refresh the accesstoken inside the freshdesk authconfig.json

[2021-09-22 12:03] AnithaYerra opened #356 "[Bug] - how to refresh the accesstoken of freshdesk oauth app."
Hi @raghuram-periaswamy ,
I have built one oauth app. if am leaving for some time as idle am getting : Response 210 “Accesstoken can’t be refreshed so may i know how can i refresh the accesstoken inside the freshdesk authconfig.json

[2021-09-23 09:56] teja-kummarikuntla commented on #356
Hey @AnithaYerra,
You can get this issue addressed in our developer community forum at: https://community.developers.freshworks.com
Feel free to create Topics, make discussions and get a good push when you get stuck.

[2021-09-23 10:01] ravirajsubramanian commented on #168
Hi @Froglegg,
There's no update yet on this feedback. Please upvote [the earlier feedback](https://community.developers.freshworks.com/t/programmatically-update-widget-suggested-articles/908) on this topic or create a new feedback topic on our developer forum.

[2021-09-27 13:41] AnithaYerra commented on #356
Hi @teja-kummarikuntla ,
I have already raised there too. Thanks for the update- https://community.developers.freshworks.com/t/getting-accesstoken-can-t-be-refreshed-as-an-output-in-freshdesk-oauth-app/3620

[2021-10-17 06:28] ravirajsubramanian commented on #6
Hi @AnithaYerra,

This repository serves only as example codes. Please raise your issue or queries on [our developer forum](community.developers.freshworks.com).

[2021-10-17 06:39] ravirajsubramanian commented on #356
Hi @AnithaYerra,

This repository only serves as example code. Let's continue the conversation in the forum topic. I have now responded to your query.

[2021-10-17 06:39] #356 closed

[2021-12-03 16:25] tspoke opened #360 "[Bug] - Crash Android FLAG_IMMUTABLE android 12"
**Describe the bug**
On android 12 when receiving a notification the call to consume() make the app crash

**To Reproduce**
Steps to reproduce the behavior:
1. Send a message with freshchat web admin
2. Consume it on Android with any version of your SDK
3. CRASH

**Additional context**
You need to implement the new FLAG_IMMUTABLE when using PendingIntent : https://developer.android.com/guide/compo

[2021-12-06 06:14] ravirajsubramanian commented on #360
Hi @tspoke,

This repository serves as sample applications built on Freshworks Developer Platform to publish apps on the Freshworks Marketplace.
Please report your issue on [Freshchat support page](https://support.freshchat.com/support/home).

[2021-12-06 06:14] #360 closed

[2021-12-06 06:18] tspoke commented on #360
Hi @ravirajsubramanian,

I know, sorry for that but I wrote to the support and they didn't understand. Here I was sure to talk to a developer ;)

[2021-12-06 06:44] ravirajsubramanian commented on #360
Ah got it. Please ask the support agent to redirect the issue to Freshchat mobile engineering team and convey it's an issue report on Freshchat Andriod SDK. They will be able to redirect to a development team who can understand your bug report and confirm if it's a bug or provide alternatives if available.

Could you share the ticket link here so I can try redirecting internally?

Thank you for ta

[2021-12-07 16:51] tspoke commented on #360
I contacted them on Facebook, and for now the agent didn't understand the issue :D
So I don't have an open ticket, but I think you can forward this github issue directly ? Thanks a lot !

[2022-08-04 03:57] ankurhiteshi opened #366 "How to call API without adding domain name in whitelisted"
I have worked on level1 project in Play-Along/Exercises/fundamentals/level1
If the user enters a domain other than the whitelisted domain, then he will get the issue again. Is there another way to handle dynamic domain names?

[2022-08-07 11:10] ravirajsubramanian commented on #366
@ankurhiteshi  You can check out [this repository](https://github.com/freshworks-developers/community-hours-demos/tree/main/iparams/custom-iparams-page) as an example for a dynamic definition of `whitelisted-domains` to automatically use the installation parameters.

Please use [our Freshworks Developer Community](https://community.developers.freshworks.com/) to discuss any issues or to continue y

[2022-08-07 11:11] #366 closed